.DS_Store
thumbs.db
UpgradeLog.xml

*.suo
*.user
*.cache
*.ncb
*.log
*.jbf
*.sdf
*.cachefile
*.orig
*.pidb
*.userprefs

Test/Content/
Scratch/
packages/

**/bin/Debug/**
**/bin/Release/**
**/obj/**
**/bin/Debug/**
**/bin/Release/**
